name: Construct Source Tarballs

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  construct:
    runs-on: ubuntu-slim
    steps:
      - name: Checkout main branch
        uses: actions/checkout@v5
        with:
          ref: main
          fetch-depth: 0
          path: main
      - name: Checkout sources branch
        uses: actions/checkout@v5
        with:
          ref: sources
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0
          path: sources
      - name: Clean old sources
        run: |
          cd sources
          rm *.tar.gz
          cd ..
        continue-on-error: true
      - name: Rename filter binaries
        run: |
          cd main
          mv dist/opt/jadens-printer-driver/amd64/rastertolabel dist/opt/jadens-printer-driver/amd64/jadens_printer_filter
          mv dist/opt/jadens-printer-driver/arm64/rastertolabel dist/opt/jadens-printer-driver/arm64/jadens_printer_filter
          cd ..
      - name: Create source tarballs
        run: |
          export NAME_AND_VERSION="$(cat main/jadens-printer-driver.spec | grep Name | cut -d' ' -f12)-$(cat main/jadens-printer-driver.spec | grep Version | cut -d' ' -f9)"
          mkdir tarball
          cd tarball
          cp -R ../main/dist/usr .
          
          # x86_64
          cp ../main/dist/opt/jadens-printer-driver/amd64/jadens_printer_filter ./usr/lib/cups/filter
          tar czvf ../sources/$NAME_AND_VERSION-x86_64.tar.gz usr
          rm usr/lib/cups/filter/jadens_printer_filter
          
          # aarch64
          cp ../main/dist/opt/jadens-printer-driver/arm64/jadens_printer_filter ./usr/lib/cups/filter
          tar czvf ../sources/$NAME_AND_VERSION-aarch64.tar.gz usr

          cd ..
      - name: Push tarballs to sources branch
        run: |
          cd sources

          git config --global user.name "RdrSeraphim"
          git config --global user.email "me@srp.life"

          git add .
          git commit -m "Automated source build for commit $(git rev-parse --short '${{ github.sha }}')"
          git push -u origin sources

